---
- name: Install Kubernetes Cluster
  hosts: k8s_cluster
  become: yes
  gather_facts: yes
  roles:
    - k8s-common

- name: Configure Kubernetes Master
  hosts: masters
  become: yes
  gather_facts: yes
  roles:
    - k8s-master

- name: Configure Kubernetes Workers
  hosts: workers
  become: yes
  gather_facts: yes
  roles:
    - k8s-worker

- name: Install SQL Server
  hosts: sqlserver
  become: yes
  gather_facts: yes
  vars:
    sql_sa_password: "Th@nhtai19022004"  
  roles:
    - sql-server

- name: Install Docker
  hosts: masters
  become: yes
  gather_facts: yes
  roles:
    - docker

- name: Install Jenkins on EC2
  hosts: jenkins
  become: yes
  gather_facts: yes
  roles:
    - jenkins